

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:1rem;
}
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#000000;
}
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
    color:#093;
    text-decoration:none;
}
a:hover {
    color:#093;
}
a:focus {
    outline:#008000;
}
a:hover,
a:active {
    outline:0;
}
input:focus {
    outline:0;
    border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.principal {
    max-width:1280px;
    width:100%;
    margin:0;
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    height: 46px;
}

/* Menú general superior */
.menugeneral{
    text-align: center;
}

.menugeneral ul {
    margin: 20px;
    border-top: 1px dashed #CECECE;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #CECECE;
}

.menugeneral ul li{
    display: inline;
    display: inline;
    font-weight: bold;
    margin: 0px 10px;
}

/* header */
.header {

}
/* logo */
.logo {
    text-align: center;
    margin-top: 40px;
}
.logo-img {

}
/* nav */
.nav {

}
/* sidebar */
.sidebar {

}
/* footer */
.footer {
    margin: 10px;
}

.footer .copyright{
    text-align: center;
    margin-top: 15px;
}

/*------------------------------------*\
    BUSCADOR HEADER
\*------------------------------------*/
.barra_busqueda{
    height: 35px;
    /*background: green;*/
    color: white;
    vertical-align: middle;
    padding: 5px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

form.search {
    float: right;
    margin: 0px 8px;
}

/* POST ARTICULOS */


.post .author{
    font-size: 10px;
    margin-top: 6px;
}

.post .date{
    font-size: 10px;
    margin-top: 6px;
}
/* Títulos post */
.post h2 a{
    font-weight: bold;
    font-size:1.3125rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
/*    font-family: 'Roboto', serif;*/
}
.post {
    font-size:.875rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    color:#000000;
    line-height: 20px;
    margin-top: 13px;
    line-height: 20px;
    border-bottom: 1px dashed #CECECE;
    padding-bottom: 20px;
    
}
/* Enlave ver artículo */
.post a.view-article{
    font-weight: bold;
}

.post .miniatura{
    margin-top: 7px;
}

/*--- SINGLE POST --------------------*/
.single{
/*    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;*/
    font-family: 'Merriweather', 'Times New Roman', Times, Serif;
    line-height: 1.75em;
    font-size:16px;
}

.single h1{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    line-height: 1.0em;
    flex: 1 0 100%;
    font-weight: 900;
    color: #353535;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    font-size: 1.7em;
}

    .single p{
        margin: 0 0 1em;
    }

    .single .author, 
    .single .date
    {
        color: #696969;
        flex: 2 1 50%;
        font-size: .870em;
        line-height: 1.10em;
    }
    
    .single main{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
/*---------------------------------
    Comentarios
----------------------------------*/
    
    .comentarios{
        border-top: 1px dashed #CECECE; 
        margin-top: 36px;
        padding-top: 10px;
    }
    
    .comments ul li{
        font-size: 12px;
        font-weight: normal;
        color: #666666;
    }
    
    .reply-title{
        font-weight: bold;
    }
    
    .form-submit{
        text-align: center;
    }
    
    .logged-in-as{
        text-align: right;
    }
    
/*------------------------------------*\
    PAGES
\*------------------------------------*/



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/



@font-face {
/*    font-family:'Font-Name';
    src:url('fonts/font-name.eot');
    src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
            url('fonts/font-name.woff') format('woff'),
            url('fonts/font-name.ttf') format('truetype'),
            url('fonts/font-name.svg#font-name') format('svg');*/
    font-weight:normal;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    MEDIA QUERYS
\*------------------------------------*/

@media print {
    
}

@media (min-width: 600px) {
    .art-home{
        
    }
}